# Shop Customer - Deep Learning

[**Data by SHRUTI_IYYER from Kaggle**](https://www.kaggle.com/datasets/shrutimechlearn/customer-data)

A project which uses Deep Learning to predict the spending Score of a customer.

*Import the most important libraries*

In [2]:
import pandas as pd
import numpy as np
import tensorflow as tf

importing the Dataset

In [4]:
dataset = pd.read_csv('Customers.csv')
dataset.drop(columns=['CustomerID'], inplace=True)

In [5]:
dataset

      Genre  Age  Annual_Income_(k$)  Spending_Score
0      Male   19                  15              39
1      Male   21                  15              81
2    Female   20                  16               6
3    Female   23                  16              77
4    Female   31                  17              40
..      ...  ...                 ...             ...
195  Female   35                 120              79
196  Female   45                 126              28
197    Male   32                 126              74
198    Male   32                 137              18
199    Male   30                 137              83

[200 rows x 4 columns]

Selecting the dependent and independent variables. As independent variables I select the Annual Income and the Age.

In [ ]:
X = dataset.iloc[:, 1:3].values
y = dataset.iloc[:, -1].values

Encode the categorical data:

Splitting the dateset into Training and Test set.

Feature Scaling all of the Features.

### Build the ANN

### Train the ANN